name: solver-builds

on:
  push:
    tags: ["v?[0-9]+"]
    branches: [main, "release-**"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04, macos-11, macos-12, windows-2019]
        solver: [z3-4.8.5, z3-4.12.1]
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies (Windows)
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: |
            make
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ninja
            python
            tar
        if: runner.os == 'Windows'

      - name: Build (non-Windows)
        shell: bash
        run: scripts/build.sh ${{ matrix.solver }}
        if: runner.os != 'Windows'

      - name: Build (Windows)
        shell: msys2 {0}
        run: scripts/build.sh ${{ matrix.solver }}
        if: runner.os == 'Windows'

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: bin
          name: ${{ matrix.solver }}-${{ matrix.os }}-bin
